.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #f9f6f1;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 140px;
}

.header-menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  /* background-color: goldenrod; */
  width: 350px;
}

.header-menu__item select {
  border: none;
  background-color: #f9f6f1;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #212121;
}

.header-menu__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: goldenrod; */
  width: 190px;
}

/* .header-menu__logo div {
  width: 40px;
  height: 40px;
  left: 869px;
  top: 50px;
  color: black;
} */

.header-menu__logo p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  margin: 0;
  text-transform: uppercase;
  color: black;
}

.header-menu__basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 163px;
  /* background-color: goldenrod; */
}

.header-menu__basket p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  margin: 0;
  color: #212121;
}

.header-menu__basket-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94px;
}

.header-menu span {
  position: relative;
  width: 33px;
  height: 16px;
  left: 0px;
  top: 0px;
  background: #d7b399;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.03em;
}

.header-menu span::before {
  position: absolute;
  content: "";
  top: 0;
  right: 33px;
  border-top: 8px solid transparent;
  border-left: 10px solid #d7b399;
  border-bottom: 8px solid transparent;
  transform: rotate(-180deg);
}
